{% extends 'base.html' %} 
{% block css_file %}log.css{% endblock %}
{% block title %}Example AAU Profile{% endblock %}
{% block class %}class="whoop"{% endblock %}
{% block content %}

<div id="nav_bar">  
 <a href="../" >home </a>
| <a href="../register" >register</a> 
</div>

<body class="whoop">
<div id="container_info">
<div id="mainContent_info">

	<h3>About WHoopCity</h3>

	<p>WHoopCity was founded on the idea that those girls who want an athletic scholarship can work hard
		enough to get one, no matter where they live, how much money their parents have or who they
		knew. 
	</p> 

	<p> WHoopCity allows any student-athlete the chance to measure up to everyone else, on a
		level playing field. Here (and pardon the cliché, but) the proof is in the pudding.
	</p>

	<p> Sign up with WHoopCity and let your skills show. 
	</p>

</div>

<br class="clearfloat" />

{% endblock %}