<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>WHoopCity | {% block title %}{% endblock %} </title>

<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/{% block css_file %}{% endblock %}"/>

</head>	

<body {% block class %}{% endblock %} >

{% block header %}
<div id="header">
<a href="../"><img src="{{ MEDIA_URL }}images/header_logo.png" height="70"></a>
</div>
{% endblock %}

{% block content %} 

{% endblock %}

<div id="footer">

	| <a href="about"><font color="#FFFFFF">About</font></a>
	| <a href="contact"><font color="#FFFFFF">Contact Us</font></a>
	| <a href="../"><font color="#FFFFFF">WHoopCity &copy; 2008</font></a>
    	

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-11965595-3");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>