{% extends 'base.html' %} 
{% block css_file %}log.css{% endblock %}
{% block title %}About {% endblock %}
{% block class %}class="whoop"{% endblock %}
{% block content %}

<div id="nav_bar_index">
</div>
<body class="whoop">
<div id="container_index">

<div id="mainContent">

<h3> About WHoopCity </h3>

<p>WHoopCity was founded on the idea that those girls who want an athletic scholarship can work hard
enough to get one, no matter where they live, how much money their parents have or who they
knew. </p> 

<p> WHoopCity allows any student-athlete the chance to measure up to everyone else, on a
level playing field. Here (and pardon the cliché, but) the proof is in the pudding.</p>

<p> Sign up with WHoopCity and let your skills show. </p>


</div>
<br class="clearfloat" /><!-- This clearing element should immediately follow the #mainContent div in order to force the #container div to contain all child floats -->

{% endblock %}
