{% extends 'base.html' %} 
{% block css_file %}log.css{% endblock %}
{% block title %}About {% endblock %}
{% block class %}class="whoop"{% endblock %}
{% block content %}

<div id="nav_bar">  
 <a href="../" >home </a>
| <a href="../register" >register</a> 
</div>

<body class="whoop">

<div id="container_info">
	<div id="mainContent_info">

		<h3> Contact Us </h3>

		<table cellspacing="30">
			<tr align="center">
				<td>by phone</td>
				<td>by email</td>
				<td>by post</td>
			</tr>

			<tr>
				<td>+1 (415) 685-4335 </td>
				<td><a href="mailto:'contact@whoopcity.com"><font color=#000000">contact@whoopcity.com</font></a></td>
				<td> San Francisco, CA</td>
			</tr>
		</table>

	</div>

<br class="clearfloat" />

{% endblock %}
