{% extends 'base.html' %}
{% load url from future %}
{% block css_file %}log.css{% endblock %}
{% block title %}Home{% endblock %}
{% block class %}class="whoop"{% endblock %}
{% block content %}

	<div id="nav_bar">
	</div>
	<div id="container">
		<div id="writings">
		<div id="mainContent">
			<div id="signin">
				<h4><a href="register">Register Here</a></h4>
				<h4>Sign In Here</h4>
				{% if user.is_authenticated %}
				 Hey you're already signed in!
				<form method="post" action="/logout">
				  {% csrf_token %}
				  <input type="submit" value="logout" />
				</form>
				{% else %}
				<form method="post" action="/login">
					{% csrf_token %}
					{{ form.as_table }}
					<input type="submit" value="login" />
					<input type="hidden" name="next" value="{{ next }}" />
				</form>
				{% endif %}
			</div>

			<div id="index_body">
				<table>
					<tr>
						<td align="right">
							<a href="players/p_about">Players</a>
						</td>
					</tr>
					<tr>
						<td align="right">
							<a href="teams/c_about">College Coaches</a>
						</td>
					</tr>
					<tr>
						<td align="right">
							<a href="teams/a_about">AAU Coaches</a>
						</td>
					</tr>
				</table>
			</div>
		</div>
		</div>
		<div id="lower_table">
				<table id="pic_table">
					<tr>
						<td align="center">
							<a href="players/p_about">Player Highlight: Tabitha Walker</a>
						</td>
						<td align="center">
							<a href="teams/c_about">College Coaches</a>
						</td>
						<td align="center">
							<a href="teams/a_about">AAU Team of the Week</a>
						</td>
					</tr>
					<tr>
						<td align="center">
							<a href="players/p_about"><img src="{{ MEDIA_URL }}images/schapper.jpg" height="150" width="200"></a>
						</td>
						<td align="center">
							<a href="teams/c_about"><img src="{{ MEDIA_URL }}images/coach.jpg" height="150" width="200"></a>
						</td>
						<td align="center">
							<a href="teams/a_about"><img src="{{ MEDIA_URL }}images/aau.jpg" height="150" width="200"></a>
						</td>
					</tr>

				</table>
			</div>
			<div>
				<table id="second_table">
					<tr>
						<td id="first" align="left"><a href="/p_about.html">Top 10 Players</a>
						<ol>
						<li>Ashley</li>
						<li>Ashley</li>
						<li>Ashley</li>
						<li>Ashley</li>
						<li>Ashley</li>
						<li>Ashley</li>
						</ol>
						</td>
						<td id="second" align="left"><a href="/a_about.html">Top 10 AAU Teams<a/>
						<ol>
						<li>Tri-Valley Elite, CA</li>
						<li>North Coast Express, CA</li>
						<li>Trade Winds, AK</li>
						<li>South Street, TX</li>
						<li>BBallin', FL</li>
						<li>Coldies, RI</li>
						</ol>
						</td>
						<td id="third" align="left"><a href="/c_about.html">Top 10 Schools<a/>
						<ol>
						<li>Brown University</li>
						<li>North Carolina State</li>
						<li>University of Minnesota</li>
						<li>Purdue</li>
						<li>Stanford</li>
						<li>South Dakota State</li>
						</ol>
						</td>
						<td id="fourth" align="left"><a href="/a_about.html">Top 10 Tourneys<a/>
						<ol>
						<li>East Bay Explosion</li>
						<li>San Diego Classic</li>
						<li>Oregon Trail</li>
						<li>AAU Nationals</li>
						<li>Mid-Summer Night</li>
						<li>DC Tournament</li>
						</ol>
						</td>
					</tr>
				</table>
			</div>

			</div>
		<br class="clearfloat" />

{% endblock %}
