{% extends 'base.html' %} 
{% block css_file %}log.css{% endblock %}
{% block title %}Registration{% endblock %}
{% block class %}class="whoop"{% endblock %}
{% block content %}
  
<div id="nav_bar">  
 <a href="/">home </a>
</div>

<body class="whoop">

<div id="container_info">

<div id="mainContent_info">

	<h3>You are not yet registered!</h3>
	
	<h4>To start the process, we will send you an email</h4>

		<form method="post">
			Email:<input type="text" name="email" maxlength="40">
			<br>
			<br>
			<input type="submit" name="submit" value="Send Me My Confirmation Email"> 
		</form>

</div>

<br class="clearfloat" />

{% endblock %}