{% extends 'base.html' %} 
{% block css_file %}log.css{% endblock %}
{% block title %}Example AAU Profile{% endblock %}
{% block class %}class="whoop"{% endblock %}
{% block content %}

<div id="nav_bar">  
 <a href="../" >home </a>
| <a href="a_exprofile">example AAU profile</a> 
| <a href="../players/p_exprofile">example player profile</a>
| <a href="../register" >register</a> 
</div>

<body class="whoop">
<div id="container_info">
<div id="mainContent_info">

<h1>Welcome to WHoopCity AAU Club/Team Manager!</h1>

WHoopCity was created to allow competitive student-athletes, you (their AAU teams)
and college coaches to come together online, in real time, to allow for 
the most efficient recruiting experience.

<br><br>

With thousands of players in high school and not all of them headed to the 
tournaments you show up to, it can be difficult to get college coaches to notice your players. 
WHoopCity is the solution.

<br><br>

By enouraging your players to provide their stats, academic information, 
highlight films, their preferences for their undergraduate school and connect this information
with their AAU schedules on the road, the outcomes for success are immeasurable.

<br><br>
An AAU coach or manager such as yourself is an integral part of getting your players those scholarships. Why not
make your administrative jobs easier by connecting them with coaches through an online portal? You 
can, and WHoopCIty is the answer. 
<br><br>

Contact Us to find out! Good luck recruiting...
<br>
</div>

<br class="clearfloat" />

{% endblock %}