{% extends 'base.html' %} 
{% block css_file %}log.css{% endblock %}
{% block title %}College Coaches {% endblock %}
{% block class %}class="whoop"{% endblock %}
{% block content %}

<div id="nav_bar">  
 <a href="../" >home</a>
| <a href="c_exprofile">example team profile</a>
| <a href="../players/p_exprofile">example player profile</a>
| <a href="../register/register" >register</a></div>

<body class="whoop">
<div id="container_info">
<div id="mainContent_info">

<h1>Welcome to WHoopCity Coach!</h1>

WHoopCity was created to allow competitive high school players, their AAU teams
and you, college coaches to come together online, in real time, to allow for 
the most efficient recruiting experience.

<p>
With thousands of players in high school and not all of them headed to the 
tournaments you show up to, it can be difficult to manage your prospects while finding
new talent. WHoopCity is the solution.

<p>

By enouraging high school athletes (and JC players) to provide their stats, academic information, 
highlight film, as well as their preferences for their undergraduate school, the outcomes are 
immeasurable.

<p>
<ol>
<li>
You the Coach can make your propecting faster by searching amongst thousands of student-athletes 
in our database.
<li>
When it comes to evaluating in the gym, you can access the hundreds of AAU team schedules, 
rosters and stats to make your time away from school more efficient and productive.
<li>
What this does is not only make it easier to find the players your school is looking for, but
it save you time on the road and money from your budgets. 
</ol>

Contact Us to find out! Good luck recruiting...

</div>

<br class="clearfloat" />

{% endblock %}
