body  {
	background: #656565;
	font-family: Andale Mono;
}

a:link{
	text-decoration: none;
	color: #FFFFFF;
	border: none;
}


a:visited{
	text-decoration: none;
	color: #FFFFFF;
	border: none;
}

a:active{
	text-decoration: none;
	color: #FFFFFF;
	border: none;
}

a:hover{
	text-decoration: none;
	color: #FFFFFF;
	border: none;
}

.whoop #header { 
	height: 70px;
	color: #FFFFFF;
	background: #clear; 
	padding: 10 0 0 90;  
	
} 
.whoop #nav_bar { 
	width: 980px;
	font: Andale Mono;
	height: 100px;
	background: #FFFF06; 
	text-align: right;
	margin: 0 0 -70 20px;
	color: #565656;
	padding: 0 0 0 ;  
	font-size: 12px;

} 
.whoop #container {
	font: Andale Mono;
	width: 950px;
	margin: 0 0 0 50px; 
	padding: 0 0 0;
	position: relative;	
}

.whoop #header h1 {
    font-size: 250%;
	margin: 0; /* zeroing the margin of the last element in the #header div will avoid margin collapse - an unexplainable space between divs. If the div has a border around it, this is not necessary as that also avoids the margin collapse */
	padding: 10px 0; /* using padding instead of margin will allow you to keep the element away from the edges of the div */
}

#mainContent { 
	background-image: url('../images/player.jpg');
	background-size: 1200px;
	width: 710px;
	height: 300px;
	margin: 0 0 0 0px; /* the right margin can be given in percentages or pixels. It creates the space down the right side of the page. */
	padding: 3 120 0 120;
	font: Andale Mono;
}

#signin { 
	float: left;
	background: #white;
	width: 180px;
	margin: 30 0 0 -80px; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0 20 0 20;
}

#index_body { 
	float: left;
	color: #FFFFF;
	width: 90%;
	margin: 2% -100px 0 0px; 
	padding: 0 20 20 10;
}

#index_body a:link{
	color: #purple;
    font-size: 250%;
}

#one{
	width: 44%;
	height: 50px;
	margin: 20px 3% 0 3%;
	background: #CCC;
	font-size: 150%;
	float: left;
}

#two{
	width: 44%;
	height: 50px;
	margin: 20px 3% 0 3%;
	background: #CCC;
	font-size: 150%;
	float: left;
}

#left{
	width: 25%;
	height: 200px;
	margin: 20px 6.125% 0 6.125%;
	background-image: url('../images/schapper.jpg');
	background-size: 100%;
	float: left;
}

#center {
	width: 25%;
	height: 200px;
	margin: 20px 0 0 0;
	background-image: url('../images/aau.jpg');
	background-size: 100%;
	float: left;
}

#right {
	width: 25%;
	height: 200px;
	margin: 20px 6.125% 0 6.125%;
	background-image: url('../images/coach.jpg');
	background-size: 100%;
	float: left;
}


#first {
	width: 23.5%;
	height: 300px;
	margin: 20px 1% 0 0;
	background-image: url('../images/world.png');
	float: left;
}

#second {
	width: 23.5%;
	height: 300px;
	margin: 20px 1% 0 1%;
	background-image: url('../images/blue.png');
	float: left;
}

#third {
	width: 23.5%;
	height: 300px;
	margin: 20px 1% 0 1%;
	background-image: url('../images/mom.jpg');
	float: left;
}

#fourth {
	width: 23.5%;
	height: 300px;
	margin: 20px 0 0 1%;
	background-image: url('../images/rice.gif');
	float: left;
}

.whoop #mainContent h1{ 
	color: #FFFFFF;
	
}
/*	INDEX CSS HERE*/

.whoop #table_index{
	color: #FFFFFF;
}

/*	COLLEGE PROFILE CSS HERE*/


.whoop #container_college {
	background: #FFFFFF; 
	font: Andale Mono;
	width: 950px;
	margin: 0 0 0 50px; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0 0 0;
	position: relative;
}

.whoop #mainContent_college { 
	background: #FFFFFF;
	margin: 0 0px 0 ; /* the right margin can be given in percentages or pixels. It creates the space down the right side of the page. */
	padding: 3 0 0 25;
	font: Andale Mono;
	font-size: 10px;
}
.whoop #mainContent_college h1{ 
	background: #FFFFFF;
	font-size: 20px;
	color: #111111;	
}

.whoop #search_college { 
	float: right;
	background: #FFFFFF;	
	font-size: 12pt;
} 

.whoop #sign_in_left { 
	width: 345px;
	height: 400px;
	float: right;
	background: #FFFFFF;	
	font-size: 12pt;
	text-align: right;
} 

.whoop #search_college h1{ 
	background: #FFFFFF;
	font-size: 16px;
	color: #111111;	
}

.whoop #search_college h4{ 
	background: #FFFFFF;
	font-size: 12px;
	color: #111111;	
}

.whoop #info_college { 
	width: 370px;
	float: left;
	background: #FFFFFF;
	font-size: 8pt;
} 

.whoop #info_college h1{ 
	background: #FFFFFF;
	font-size: 12pt;
	color: #111111;	
}

.whoop #info_college h4{ 
	background: #FFFFFF;
	font-size: 12px;
	color: #111111;	
}

img { border: none; }

/*	PLAYER PROFILE CSS HERE*/

.whoop #nav_bar_player { 
	width: 980px;
	font: Andale Mono;
	height: 100px;
	background: #FFFF06; 
	text-align: right;
	margin: 0 0 -70 20px;
	padding: 0px;
	color: #black;
	font-size: 12px;
} 

.whoop #container_player { 
	width: 850px;  /* this will create a container 80% (or not) of the browser width */
	background: #B9B8B5; 
	margin: 0 0 0 130; /* the auto margins (in conjunction with a width) center the page */
	padding 0 0 0 400px;
	text-align: left; /* this overrides the text-align: center on the body element. */
	font-size: 10pt;
} 


.whoop #rightbar_player {
	float: right; 
	width: 205px; /* since this element is floated, a width must be given */
	background: #e62b86; /* the background color will be displayed for the length of the content in the column, but no further */
	margin:  -50px 20px 0 0; /* top and bottom padding create visual space within this div  */
	font: Andale Mono;
	padding: 0 0 0 0;
}

.whoop #mainContent_player { 
	background: #FFFFFF;
	margin: 0 20px 0 20px; /* the right margin can be given in percentages or pixels. It creates the space down the right side of the page. */
	padding: 3 0 0 25;
	font: Andale Mono;
	font-size: "2";

}

.whoop #sidebar1 {
	float: left; 
	width: 0; /* since this element is floated, a width must be given */
    height: 600px;
	padding:  0 0 0 40px; /* top and bottom padding create visual space within this div  */
	margin: 0 0 0 0px;
}

.whoop #sidebar1 h3, .whoop #sidebar1 p {
	margin-left: 5px; /* the left and right margin should be given to every element that will be placed in the side columns */
	margin-right: 10px;
}

.whoop #sidebar1 h2 {
	font: 40% Andale Mono;
	margin-left: 5px;
}

.whoop #sidebar_ad {
	float: left; 
	width: 20px; /* since this element is floated, a width must be given */
	background: #FFFFFF; /* the background color will be displayed for the length of the content in the column, but no further */
	margin: 0 -25px 0 0;
	padding:  0; /* top and bottom padding create visual space within this div  */
}

.whoop #rightbar1 {
	float: right; 
	width: 200px; /* since this element is floated, a width must be given */
	background: #e62b86; /* the background color will be displayed for the length of the content in the column, but no further */
	margin:  -50px 20px 0 0; /* top and bottom padding create visual space within this div  */
	font: Andale Mono;
	padding: 0 0 0 0;
}

.whoop #rightbar1 h1{
	font: 90% Andale Mono;
	margin-left: 5px; /* the left and right margin should be given to every element that will be placed in the side columns */
	margin-right: 5px;
}

.whoop #info { 
	background: #FFFFFF;
	width: 250;
	margin: 0;/* the right margin can be given in percentages or pixels. It creates the space down the right side of the page. */
	padding: 3 0 0 25;
	font: Andale Mono;
}
.whoop #playermovie { 
	width: 0px;
	float: right;
	padding: 100 0 0 0;
}

#footer { 
	margin: 3% 0 3% 0;
	background: none;
	color: #FFFFFF;
	text-align: right;
	font-size: 80%;
	}	

.whoop #pic { 
	width: 100px;
	height: 100px;
	padding: 0 10px; /* this padding matches the left alignment of the elements in the divs that appear above it. */
	text-align: right;
}

.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}


--> 

.whoop #container_info {
	background: #B9B8B5; 
	font: 100% Andale Mono;
	width: 740px;
	margin: 0 0 0 130px; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0 0 0;
	position: relative;
}

.whoop #mainContent_info { 
	background: #FFFFFF;
	width: 715px;
	height: 175%;
	margin: 0 0px 0 0px; /* the right margin can be given in percentages or pixels. It creates the space down the right side of the page. */
	padding: 3 0 20 25;
	font: Andale Mono;
}

.whoop #mainContent_info h1{ 
	background: #FFFFFF;
	font:  100% Andale Mono;
	color: #111111;
	
}

.whoop #nav_bar_info { 
	width: 680px;
	font: Andale Mono;
	height: 100px;
	background: #FFFF06; 
	text-align: right;
	margin: 0 0 -60 90px;
	color: #565656;
	padding: 0 0 0 100;  /* this padding matches the left alignment of the elements in the divs that appear beneath it. If an image is used in the #header instead of text, you may want to remove the padding. */
} 

.whoop h5 {
	padding: 10 10 10 0;
	color: #000;
	background: #F0F0F0;}

------------->






