{% extends 'base.html' %} 
{% block css_file %}log.css{% endblock %}
{% block title %}About for Players{% endblock %}
{% block class %}class="whoop"{% endblock %}
{% block content %}

<div id="nav_bar_index">  
<a href="../" >home</a> 
| <a href="p_exprofile"><font color="#565656">example player profile</font></a>
| <a href="../register/register" >register</a> 
<!-- end #nav_bar --></div>

<body class="whoop">

<div id="container_info">

<div id="mainContent_info">

<h1>Welcome to WHoopCity, Baller!</h1>

WHoopCity was created to allow, you, the competitive student-athlete, your AAU teams
and, most importantly, college coaches to come together online, in real time, to allow the most
exposing online recruting tool. 

<br><br>

With thousands of players just like you it can be difficult to gain an advantage in such large
gyms during the summer. And with hundreds of colleges looking for the perfect fit in you, what 
they need is your information, pronto!
<br><br>

By filling out a detailed online profile (for free!) with your high school stats, academic information, 
highlight film, as well as your preferences for an undergraduate school, you can not only find 
the perfect school for you, but THEY CAN FIND YOU! The benefits are immeasurable:
<br><br>

Contact Us to find out! Good luck in your games...
<br>
</div>
<br class="clearfloat" /><!-- This clearing element should immediately follow the #mainContent div in order to force the #container div to contain all child floats -->

{% endblock %}

